<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
<div id="app">
    <form v-on:submit="ajouterRestaurant">
        <label>
            Nom : <input type="text" required v-model="name">
        </label>
        <label>
            Cuisine : <input type="text" required v-model="cuisine">
        </label>

        <button>Ajouter</button>
    </form>

    <form v-on:submit="search">
        <label>
            Rechercher un restau : <input type="text" required v-model="recherche">
        </label>
        <button>Chercher</button>
    </form>

    <h1>Nombre de restaurants : {{restaurants.length}}</h1>
    <div class="slidecontainer">
        <input v-on:input="slideChanged($event)" type="range" min="5" max="100" value="5" class="slider" id="myRange">
        <p id="valeurSlide">{{range}}</p>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Cuisine </th>
        </tr>
        <tbody>
            <tr v-for="r,index in restaurants" v-on:click="supprimerRestaurant(index)" v-bind:style="{backgroundColor:getColor(index)}"
                v-bind:class="{bordureRouge:(index === 2)}">
                <td>{{r.name}}</td>
                <td> {{r.cuisine}}</td>
            </tr>
        </tbody>
    </table>
    <button v-on:click="getRestaurantsFromServer($event)" value="0">Précédant</button>
    <button v-on:click="getRestaurantsFromServer($event)" value="1">Suivant</button>
</div>
</body>

</html>